<div class="content p-1">
    <div class="list-group-item">
        <div class="d-flex">
            <div class="mr-auto p-2">
                <h2 class="display-4 titulo">Editar Perfil</h2>
            </div>
            <div class="p-2">
                <span class="d-none d-md-block">
                    <a href="/admin/perfil" class="btn btn-outline-primary btn-sm">Perfil</a>
                    <a href="/admin/edit-senha-perfil"
                        class="btn btn-outline-danger btn-sm">Editar Senha</a>
                </span>
                <div class="dropdown d-block d-md-none">
                    <button class="btn btn-primary dropdown-toggle btn-sm" type="button" id="acoesListar"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Ações
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="acoesListar">
                        <a class="dropdown-item" href="/admin/perfil">Perfil</a>
                        <a class="dropdown-item" href="/admin/edit-senha-perfil">Editar Senha</a>
                    </div>
                </div>
            </div>
        </div>
        {{>_msg}}
        <hr>
        <form action="/admin/update-perfil" method="POST">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label><span class="text-danger">*</span> Nome</label>
                    <input name="nome" type="text" class="form-control" id="nome" placeholder="Nome completo" value="{{usuario.nome}}" >
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <label><span class="text-danger">*</span> E-mail</label>
                    <input name="email" type="email" class="form-control" id="email" placeholder="O melhor e-mail"  value="{{usuario.email}}" >
                </div>
            </div>

            <p>
                <span class="text-danger">* </span>Campo obrigatório
            </p>
            <button type="submit" class="btn btn-warning">Salvar</button>
        </form>
    </div>
</div>