<nav class="sidebar">
    <ul class="list-unstyled">
        <li><a href="/admin">Dashboard</a></li>

        <li>
            <a href="#submenu11" data-toggle="collapse">
                Camisas
            </a>
            <ul id="submenu11" class="list-unstyled collapse">
                <li><a href="/camisas/lista-camisas"> Lista de Camisas</a></li>
                <li><a href="/camisas/categoria-camisas"> Categoria de Camisas</a></li>
            </ul>
        </li>

        <li>
            <a href="#submenu1" data-toggle="collapse">
                Usuário
            </a>
            <ul id="submenu1" class="list-unstyled collapse">
                <li><a href="/admin/usuarios"> Usuários</a></li>
            </ul>
        </li>
        <li><a href="/admin/logout">Sair</a></li>
    </ul>
</nav>