<footer class="container-fluid py-3 rodape">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6">
                <h5>Coleção de Camisas</h5>
                <ul class="list-unstyled">
                    <li><a class="link-rodape" href="#banner">Home</a></li>
                    <li><a class="link-rodape" href="#camisas">Camisas</a></li>
                    <li><a class="link-rodape" href="#contato">Contato</a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-12 col-md-6">
                <h5>Redes Sociais</h5>
                <ul class="list-unstyled">
                    <li><a class="link-rodape" href="{{homepage.url_insta}}" target="_blank">Instagram</a></li>
                    <li><a class="link-rodape" href="{{homepage.url_face}}" target="_blank">Facebook</a>
                    </li>
                    <li><a class="link-rodape" href="{{homepage.url_linkedin}}" target="_blank">Linkedin</a></li>
                    <li><a class="link-rodape" href="{{homepage.url_git}}" target="_blank">Git Hub</li>
                </ul>
            </div>
        </div>
    </div>
</footer>